<ion-card color="light" class="ion-no-margin radar-card">
  <div class="map-canvas">
    <google-map *ngIf="(mapApiLoaded | async) && geohash" #map height="100%" width="100%" [options]="mapOptions"
                [center]="center" [zoom]="mapZoom" (mapInitialized)="setupZoomListener($event)"></google-map>
    <div *ngIf="!geohash"
         style="position:absolute; top: 50%; left: 50%; display: flex; flex-direction: row; text-align: center; align-items: center; transform: translate(-50%, -50%); gap: 10px">
      <p>Karte kann nicht geladen werden, deine position konnte nicht erfasst werden.</p>
      <ion-button (click)="getCurrentPosition()">Erneut versuchen</ion-button>
    </div>
  </div>
</ion-card>
