<ion-card color="light" class="ion-no-margin radar-card">
  <div class="map-canvas">
    <google-map *ngIf="(mapApiLoaded | async) && geohash" #map height="100%" width="100%" [options]="mapOptions"
                [center]="center" [zoom]="mapZoom" (mapInitialized)="setupZoomListener($event)"></google-map>
    <div *ngIf="!geohash"
         style="position:absolute; top: 50%; left: 50%; display: flex; flex-direction: column; text-align: center; align-items: center; transform: translate(-50%, -50%); gap: 10px">
      <p>{{ 'radar-display.not-loaded' | transloco }}</p>
      <ion-button (click)="tryAgain()">{{ 'radar-display.try-again' | transloco }}</ion-button>
    </div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="resetMapLocation()">
        <ion-icon name="contract-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-card>

