<ion-header translucent="true">
  <ion-toolbar>
    <ion-title style="color: var(--ion-color-primary)">Konto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="color: var(--ion-color-primary)">Konto</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="container-grid">
    <ion-row style="flex: 1; align-content: center">
      <ion-col sizeXl="4" offsetXl="4">
        <ion-card color="light" class="ion-no-margin ion-margin-horizontal">
          <form (submit)="signInUser()">
            <ion-card-content class="ion-no-padding" *ngIf="!loginInProgress">
              <div [formGroup]="formGroup" class="ion-margin-bottom ion-padding-horizontal">
                <div *ngIf="isRegister">
                  <app-profile-picture-select
                    (profilePictureChange)="formGroup.get('profilePicture').setValue($event)">
                  </app-profile-picture-select>
                  <ng-container *ngFor="let validation of formMessages.profilePicture">
                    <div class="error-message" style="text-align: center; padding-left: 0"
                         *ngIf="formGroup.get('profilePicture').hasError(validation.type) && (formGroup.get('profilePicture').dirty || formGroup.get('profilePicture').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                  <ion-item color="light">
                    <ion-label position="floating">Name</ion-label>
                    <ion-input formControlName="name" maxlength="50" required="true" autocorrect="true"></ion-input>
                  </ion-item>
                  <ng-container *ngFor="let validation of formMessages.name">
                    <div class="error-message"
                         *ngIf="formGroup.get('name').hasError(validation.type) && (formGroup.get('name').dirty || formGroup.get('name').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <ion-item color="light">
                  <ion-label position="floating">Email Adresse</ion-label>
                  <ion-input formControlName="email" type="email" email="true" maxlength="50" required="true"
                             autocorrect="true"></ion-input>
                </ion-item>
                <div>
                  <ng-container *ngFor="let validation of formMessages.email">
                    <div class="error-message"
                         *ngIf="formGroup.get('email').hasError(validation.type) && (formGroup.get('email').dirty || formGroup.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <ion-item color="light">
                  <ion-label position="floating">Passwort</ion-label>
                  <ion-input formControlName="password" type="password" maxlength="50" required="true"
                             autocorrect="true"></ion-input>
                </ion-item>
                <div *ngIf="isRegister" class="ion-padding-horizontal">
                  <password-strength-meter [password]="formGroup.value.password"
                                           (strengthChange)="this.strength = $event"></password-strength-meter>
                </div>
                <div>
                  <ng-container
                    *ngFor="let validation of isRegister ? formMessages.passwordRegister : formMessages.passwordLogin">
                    <div class="error-message"
                         *ngIf="formGroup.get('password').hasError(validation.type) && (formGroup.get('password').dirty || formGroup.get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
                <!--<div [hidden]="!isRegister" *ngIf="false">
                  <div class="item md item-fill-none hydrated phone-number-item">
                    <div class="ion-padding-horizontal phone-number-wrapper">
                      <ion-label position="stacked">Telefonnummer</ion-label>
                      <ngx-intl-tel-input [cssClass]="'phone-number-input'"
                                          [enableAutoCountrySelect]="true"
                                          [enablePlaceholder]="true"
                                          [searchCountryFlag]="true"
                                          [maxLength]="15"
                                          [phoneValidation]="true"
                                          name="phone"
                                          formControlName="phoneNumber"
                                          separateDialCode="true">
                      </ngx-intl-tel-input>
                    </div>
                  </div>
                </div>-->
                <div *ngIf="isRegister">
                  <div class="terms-checkbox">
                    <div class="ion-padding checkbox-wrapper">
                      <ion-checkbox slot="start" formControlName="acceptTerms"></ion-checkbox>
                    </div>
                    <div>
                      <ion-label class="ion-text-wrap" style="font-size: 1rem">Ich akzeptiere die <a
                        href="https://frienradar.com/privacy/">Datenschutzerklärung</a>
                        und die <a href="https://frienradar.com/terms-conditions/">Nutzungsbedinungen</a></ion-label>
                    </div>
                  </div>
                  <ng-container
                    *ngFor="let validation of isRegister ? formMessages.acceptTerms : formMessages.acceptTerms">
                    <div class="error-message"
                         *ngIf="formGroup.get('acceptTerms').hasError(validation.type) && (formGroup.get('acceptTerms').dirty || formGroup.get('acceptTerms').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col size="12" class="ion-text-center">
                    <ion-button color="secondary" (click)="signInUser()">
                      {{isRegister ? 'Registrieren' : 'Anmelden'}}
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
            <ion-card-content *ngIf="loginInProgress">
              <div
                style="display: flex; flex-direction: row; text-align: center; align-items: center; gap: 10px; justify-content: center; height: 70px">
                <ion-spinner name="crescent" style="vertical-align: center"></ion-spinner>
                <p>Du wirst angemeldet...</p>
              </div>
            </ion-card-content>
          </form>
        </ion-card>
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-no-padding">
        <ion-button *ngIf="isRegister" [disabled]="loginInProgress" color="tertiary" fill="clear"
                    (click)="changeLoginType(false)">
          <small>Hast du bereits ein Konto?</small>
        </ion-button>
        <ion-button *ngIf="!isRegister" [disabled]="loginInProgress" color="tertiary" fill="clear"
                    (click)="changeLoginType(true)">
          <small>Noch kein Konto?</small>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="!isRegister" size="12" class="ion-text-center">
        <ion-button color="secondary" fill="clear" [disabled]="loginInProgress" (click)="resetPassword()">
          <small>Passwort zurücksetzen</small>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
