<ion-header translucent="true">
  <ion-toolbar>
    <ion-title color="primary">Passwort</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="dismiss()">
        Abbrechen
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary">Passwort</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="container-grid" *ngIf="!isReset">
    <ion-row style="flex: 1; align-content: center">
      <ion-col sizeXl="10" offsetXl="1">
            <div class="ion-margin-bottom ion-padding-horizontal">
              <ion-item color="light" lines="none">
                <ion-input placeholder="Email Adresse" [formControl]="emailFormControl" type="email" email="true" maxlength="50" required="true"></ion-input>
              </ion-item>
              <div>
                <ng-container *ngFor="let validation of formMessages.email">
                  <div class="error-message"
                       *ngIf="emailFormControl.hasError(validation.type) && (emailFormControl.dirty || emailFormControl.touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </div>
            <ion-grid *ngIf="!resetInProgress">
              <ion-row class="ion-text-center">
                <ion-col size="10" offset="1">
                  <ion-note>
                    Bitte geben Sie Ihre Email Adresse ein, mit der Sie sich registriert haben. Sie erhalten dann eine Email mit einem Link, um Ihr Passwort zurückzusetzen.
                  </ion-note>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="12" class="ion-text-center">
                  <ion-button color="secondary" (click)="sendResetEmail()" >
                    Zurücksetzen
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          <ion-card-content *ngIf="resetInProgress">
            <div style="display: flex; flex-direction: row; text-align: center; align-items: center; gap: 20px; justify-content: center; height: 80px">
              <ion-spinner name="crescent" style="vertical-align: center"></ion-spinner>
              <p style="margin: 0">Dein Passwort wird zurückgesetzt... <br> Du erhältst in kürze eine Mail.</p>
            </div>
          </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="container-grid" *ngIf="isReset">
    <ion-row style="flex: 1; align-content: center">
      <ion-col sizeXl="10" offsetXl="1">
        <ion-card color="light">
          <ion-card-content class="ion-no-padding">
            <div [formGroup]="resetPasswordFromGroup" class="ion-margin-bottom ion-padding-horizontal">
              <ion-item color="light">
                <ion-label position="floating">Passwort</ion-label>
                <ion-input formControlName="password" type="password" maxlength="50" required="true"
                           autocorrect="true"></ion-input>
              </ion-item>
              <div class="password-meter-wrapper">
                <password-strength-meter [password]="resetPasswordFromGroup.value.password"
                                         (strengthChange)="strength = $event"></password-strength-meter>
              </div>
              <div>
                <ng-container *ngFor="let validation of formMessages.passwordRegister">
                  <div class="error-message"
                       *ngIf="resetPasswordFromGroup.get('password').hasError(validation.type) && (resetPasswordFromGroup.get('password').dirty || resetPasswordFromGroup.get('password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              <ion-item color="light">
                <ion-label position="floating">Passwort Bestätigung</ion-label>
                <ion-input formControlName="confirmPassword" type="password" maxlength="50" required="true"
                           autocorrect="true"></ion-input>
              </ion-item>
              <div>
                <ng-container *ngIf="resetPasswordFromGroup.hasError('passwordConfirmationError') && (resetPasswordFromGroup.get('confirmPassword').dirty || resetPasswordFromGroup.get('confirmPassword').touched)">
                  <div class="error-message">
                    Passwörter stimmen nicht überein.
                  </div>
                </ng-container>
              </div>
            </div>
            <ion-grid>
              <ion-row class="ion-align-items-center" *ngIf="!resetInProgress">
                <ion-col size="12" class="ion-text-center">
                  <ion-button color="secondary" (click)="resetPassword()">
                    Zurücksetzen
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-card-content *ngIf="resetInProgress">
            <div style="display: flex; flex-direction: row; text-align: center; align-items: center; gap: 20px; justify-content: center; height: 80px">
              <ion-spinner name="crescent" style="vertical-align: center"></ion-spinner>
              <p style="margin: 0">Dein Passwort wird zurückgesetzt...</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
