ion-content {
  --offset-top: 0px;
  --padding-bottom: var(--content-ad-padding-bottom, 0px);
}

.align-center {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ios .align-center {
  height: calc(100% - 56px);
}

.center-element {
  display: flex;
  width: 70%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.align-center ion-row ion-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-list {
  border-radius: 8px;
  overflow: hidden;
}
