<ion-header translucent="true">
  <ion-toolbar color="vbright">
    <ion-title color="primary">In der Nähe</ion-title>
    <ion-chip color="secondary" slot="end" style="margin-right: 13px">
      <ion-icon name="body"></ion-icon>
      <ion-label>{{nearbyUsersAmount}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary">In der Nähe</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-distance-change (distanceChange)="distanceChanged($event)"></app-distance-change>

  <div *ngIf="nearbyUsersAmount === 0 && !nearbyUsers"
       style="position:absolute; top: 50%; left: 50%; display: flex; flex-direction: row; text-align: center; align-items: center; transform: translate(-50%, -50%); gap: 10px">
    <ion-spinner name="crescent" style="vertical-align: center"></ion-spinner>
    <ion-label>Personen in der Nähe werden gesucht...</ion-label>
  </div>

  <div *ngIf="nearbyUsersAmount === 0 && nearbyUsers"
       style="position:absolute; top: 50%; left: 50%; display: flex; flex-direction: column; text-align: center; align-items: center; transform: translate(-50%, -50%);">
    <ion-label>Keine Personen in der Nähe gefunden.<br> Bitte bewege dich an einen anderen Ort oder erhöhe die Distanz.
    </ion-label>
  </div>

  <div *ngIf="nearbyUsersAmount > 0" class="ion-padding-horizontal ion-padding-top">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col style="margin-bottom: 10px" size="12" size-lg="6" size-xl="4" *ngFor="let user of nearbyUsers; trackBy:identifyNearbyUser">
          <app-nearby-user-element [user]="user"></app-nearby-user-element>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="refresh()">
      <ion-icon *ngIf="reloadData[distance].interval === null" name="reload"></ion-icon>
      <circle-progress *ngIf="reloadData[distance].interval !== null" style="padding-top: 3px;"
                       [percent]="reloadData[distance].percent"
                       [radius]="20"
                       [outerStrokeWidth]="2"
                       [outerStrokeColor]="'#ffffff'"
                       [titleColor]="'#ffffff'"
                       [clockwise]="true"
                       [animation]="false"
                       [showInnerStroke]="false"
                       [showSubtitle]="false"
                       [showUnits]="false"
                       title="{{reloadData[distance].reloadTime}}"
      ></circle-progress>
    </ion-fab-button>
  </ion-fab>

</ion-content>
