<div class="ion-padding-horizontal">
  <ion-segment color="tertiary" [value]="currentDistance" (ionChange)="changeDistance($event)">
    <ion-segment-button value="close">
      <ion-label>Nahe</ion-label>
    </ion-segment-button>
    <ion-segment-button value="nearby">
      <ion-label>Entfernt</ion-label>
    </ion-segment-button>
    <ion-segment-button value="remote">
      <ion-label>Weg</ion-label>
    </ion-segment-button>
    <ion-segment-button value="farAway">
      <ion-label>Weit Weg</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>
