<ion-header translucent="true">
  <ion-toolbar color="vbright">
    <ion-buttons slot="start">
      <ion-back-button text="Zurück" defaultHref="/tabs/social-accounts" color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Dienst hinzufügen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary">Dienst hinzufügen</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding-horizontal">
    <app-select-account></app-select-account>
  </div>
</ion-content>
