<ion-header translucent="true">
  <ion-toolbar color="vbright">
    <ion-buttons slot="start">
      <ion-back-button text="Zurück" defaultHref="/tabs/social-accounts" color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Dienst hinzufügen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary">Dienst hinzufügen</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding-horizontal">
    <ion-label color="primary">
      <p>Wähle einen Dienst aus, den du hinzufügen möchtest.</p>
    </ion-label>
    <ion-item class="ion-margin-vertical ion-item-select" lines="none" style="--{{selectedService.backgroundStyle}}" [button]="true" [detail]="false" id="account-presets">
      <ion-label style="{{selectedService.color}}">{{ selectedService !== null ? selectedService.name : 'Typ'}}</ion-label>
      <div slot="end" id="selected-fruits" style="{{selectedService.color}}"><strong>{{ selectedService !== null ? 'Dienst ändern' : 'Dienst auswählen'}}</strong></div>
    </ion-item>

    <div *ngIf="selectedService">
      <app-social-account *ngIf="selectedService" [accountPreset]="selectedService"></app-social-account>
      <ion-button expand="block" color="primary" class="ion-margin-top" (click)="addAccount()"><strong>Konto hinzufügen</strong></ion-button>
    </div>

  </div>
</ion-content>

<ion-modal trigger="account-presets" #modal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancelChanges()">Abbrechen</ion-button>
        </ion-buttons>
        <ion-title>Dienste</ion-title>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar placeholder="Suchen" (ionInput)="searchbarInput($event)"></ion-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-content color="light" class="ion-padding">
      <ion-list id="modal-list" [inset]="true">
        <ion-item *ngFor="let accountPreset of filteredPresets()" (click)="selectService(accountPreset)">
          <ion-label>{{ accountPreset.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
