<ion-header>
  <ion-toolbar>
    <ion-title>Konten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense" class="ion-no-margin">
    <ion-toolbar>
      <ion-title size="large" style="color: var(--ion-color-primary)">Konten</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar color="light" placeholder="Suchen" class="ion-no-padding ion-padding-horizontal" [(ngModel)]="accountNameFilter"></ion-searchbar>
  <ion-grid class="ion-no-padding ion-padding-horizontal">
    <ion-row style="gap: 10px">
      <ion-col size="12" size-lg="4" size-xl="3" size-md="5" size-sm="8" push-xl="1.5" push-lg="2" push-md="1"
               push-sm="2" *ngFor="let accountPreset of filteredAccounts">
        <ion-card style="{{accountPreset.backgroundStyle}}" class="ion-no-margin">
          <ion-card-header>
            <div style="display: flex;">
              <div style="width: 100%">
                <ion-card-title style="{{accountPreset.titleStyle}}">{{accountPreset.name}}</ion-card-title>
                <ion-card-subtitle style="{{accountPreset.textStyle}}">Konto verbinden</ion-card-subtitle>
              </div>
              <div style="align-items: center">
                <h1 class="ion-no-margin">
                  <ion-icon style="{{accountPreset.titleStyle}}" name="{{accountPreset.icon}}"></ion-icon>
                </h1>
              </div>
            </div>
          </ion-card-header>

          <ion-card-content style="{{accountPreset.textStyle}}" *ngIf="!isSelectedItem(accountPreset.key)">
            Drücke hinzufügen damit ein Konto verbunden werden kann.
          </ion-card-content>

          <ion-item *ngIf="isSelectedItem(accountPreset.key)" fill="solid"
                    lines="none" class="ion-margin-horizontal ion-padding-bottom">
            <ion-input placeholder="Benutzername"></ion-input>
          </ion-item>

          <div class="ion-margin-horizontal ion-padding-bottom" *ngIf="!isSelectedItem(accountPreset.key)">
            <ion-button color="dark" (click)="addAccount(accountPreset)">Hinzufügen</ion-button>
          </div>
          <div class="ion-margin-horizontal ion-padding-bottom" *ngIf="isSelectedItem(accountPreset.key)">
            <ion-button color="success" (click)="addAccount(accountPreset)">Verbinden</ion-button>
            <ion-button fill="clear" color="danger">Abbrechen</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
