<ion-header>
  <ion-toolbar>
    <ion-title>Accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense" class="ion-no-margin">
    <ion-toolbar>
      <ion-title size="large" style="color: var(--ion-color-primary)">Accounts</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-xl="3" *ngFor="let accountObj of accounts | keyvalue">
<!--        <a href="#" onclick="window.open('https://www.twitter.com/luca_bruegger', '_system', 'location=yes');">-->
          <ion-card style="{{accountObj.value.style}} text-align: center;" class="ion-no-margin">
            <ion-card-content (click)="editAccountname(accountObj.key)">
              <ion-icon class="text-icon" name="{{accountObj.value.icon}}"></ion-icon>
              <span class="icon-text" *ngIf="accountObj.value.username === ''">{{accountObj.value.name}}</span>
              <span class="icon-text"
                    *ngIf="accountObj.value.username.length > 0">@{{accountObj.value.username}}</span>
            </ion-card-content>
          </ion-card>
<!--        </a>-->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
