<ion-tabs>
  <ion-tab-bar slot="bottom" translucent="true">
    <ion-tab-button tab="interests">
      <span class="material-symbols-rounded tab-icon">interests</span>
    </ion-tab-button>
    <ion-tab-button tab="chat">
      <span class="material-symbols-rounded tab-icon">chat</span>
    </ion-tab-button>
    <ion-tab-button tab="radar">
      <span class="material-symbols-rounded tab-icon">radar</span>
    </ion-tab-button>
    <ion-tab-button tab="nearby">
      <span class="material-symbols-rounded tab-icon">featured_play_list</span>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <span class="material-symbols-rounded tab-icon">person</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
