<ion-tabs>
  <ion-tab-bar slot="bottom" translucent="true">
    <ion-tab-button tab="accounts">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="chat">
      <ion-icon name="walk-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="radar">
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="nearby">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
