<ion-item>
  <ion-avatar slot="start">
    <ion-img src="{{user.attributes.profile_picture}}"></ion-img>
  </ion-avatar>
  <ion-label>
    <h2><strong>{{user.attributes.username}}</strong></h2>
  </ion-label>
  <ion-button slot="end" shape="round" size="small" *ngIf="!isRequested && !isSentTo && !isFriend"
              (click)="requestUserContact(user.attributes.guid)" color="bright">
    Anfragen
  </ion-button>
  <ion-button disabled="true" slot="end" shape="round" size="small" *ngIf="isRequested && !isFriend" color="medium" (click)="backOut()">
    <small>Anfrage gesendet</small>
  </ion-button>
  <ion-button slot="end" shape="round" size="small" *ngIf="isSentTo && !isFriend" color="primary"
              routerLink="/tabs/friends/requests">
    <small>Anfrage erhalten</small>
  </ion-button>
  <ion-button slot="end" shape="round" size="small" *ngIf="isFriend" color="dark">
    Befreundet
  </ion-button>
</ion-item>
