<div *ngIf="isBeta" class="beta-badge-wrapper">
  <h1 class="ion-no-margin" style="margin: 10px; padding-top: 40px">
    Beta
  </h1>
</div>

<ion-app>
  <ion-split-pane contentId="main-content" when="true">
    <ion-menu [disabled]="!tokenValid" menuId="profile-menu" contentId="main-content" type="push" side="end" style="height: 100%">
      <app-menu style="height: 100%"></app-menu>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
