<ion-content color="bright">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <ion-card color="light">
      <ion-card-content style="display: flex; flex-direction: row; align-items: center">
        <ion-spinner color="primary" style="margin: 20px;"></ion-spinner>
        <div>
          <h1>Wird gewartet</h1>
          <p>Beta wird in kürze wieder verfügbar sein.</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
