<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModalWithSave(false)" color="tertiary">{{ 'general.cancel' | transloco }}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'edit-profile.title' | transloco }}</ion-title>
    <ion-buttons slot="end">
      <ion-button strong="true" (click)="closeModalWithSave(true)" color="secondary">{{ 'general.save' | transloco }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" color="light" [formGroup]="formGroup" class="ion-padding-top">
  <div class="ion-margin-horizontal">
    <app-profile-picture-select [profilePicture]="this.formGroup.get('profilePicture').value" (profilePictureChange)="updateProfilePicture($event)"></app-profile-picture-select>
  </div>
  <ng-container *ngFor="let validation of formMessages.profilePicture">
    <div class="error-message"
         *ngIf="formGroup.get('profilePicture').hasError(validation.type) && (formGroup.get('profilePicture').dirty || formGroup.get('profilePicture').touched)">
      {{ 'validation-profilePicture.' + validation.type | transloco }}
    </div>
  </ng-container>
  <div style="border-top: 1px solid #e0e0e0" class="ion-padding-end">
    <div class="ion-margin-horizontal ion-margin-top">
      <ion-note [innerHTML]="'additional-login-data.username-description-not-present' | transloco"></ion-note>
    </div>
    <ion-item color="light" lines="none" counter="{{formGroup.get('username').enabled}}">
      <ion-label style="width: 110px; padding-right: 5px" position="stacked">{{ 'additional-login-data.username' | transloco }}</ion-label>
      <ion-input style="border-bottom: 1px solid var(--ion-color-bright)" formControlName="username" maxlength="30" type="text"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of formMessages.username">
        <div class="error-message"
             *ngIf="formGroup.get('username').hasError(validation.type) && (formGroup.get('username').dirty || formGroup.get('username').touched)">
          {{ 'validation-username.' + validation.type | transloco }}
        </div>
      </ng-container>
      <div class="ion-margin-horizontal ion-padding-top">
        <ion-note [innerHTML]="'edit-profile.username-description' | transloco"></ion-note>
      </div>
      <ion-item color="light" lines="none">
        <ion-label style="width: 80px; padding-right: 5px">{{ 'login-page.placeholder-name' | transloco }}</ion-label>
        <ion-input style="border-bottom: 1px solid var(--ion-color-bright)" formControlName="name"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of formMessages.name">
        <div class="error-message"
             *ngIf="formGroup.get('name').hasError(validation.type) && (formGroup.get('name').dirty || formGroup.get('name').touched)">
          {{ 'validation-name.' + validation.type | transloco }}
        </div>
      </ng-container>
    </div>
    <ion-item color="light" lines="none" counter="true" class="ion-margin-top">
      <ion-label style="width: 110px; padding-right: 5px" position="stacked">{{ 'edit-profile.description' | transloco }}</ion-label>
      <ion-textarea class="ion-padding" auto-grow="true" formControlName="description" [placeholder]="'edit-profile.description-description' | transloco" maxlength="150"></ion-textarea>
    </ion-item>
    <ng-container *ngFor="let validation of formMessages.description">
      <div class="error-message"
           *ngIf="formGroup.get('description').hasError(validation.type) && (formGroup.get('description').dirty || formGroup.get('description').touched)">
        {{ 'validation-description.' + validation.type | transloco }}
      </div>
    </ng-container>
  </div>
</ion-content>
