.profile-picture {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-wrapper {
  height: 90px;
  width: 90px;
  align-self: center;
}

ion-avatar, img {
  height: 100%;
  width: 100%;
  max-width: 256px !important;  //any size
  max-height: 256px !important; //any size
}

.error-message {
  font-size: smaller;
  padding-left: 125px;
  color: rgb(241, 1, 1);
  margin-top: 4px;
}
