<ion-card color="light" style="height: 100%; display: flex; justify-content: center">
  <div class="user-icon-wrapper ion-text-center">
    <h1 class="user-icon-header">Du</h1>
    <ion-icon name="person" class="user-icon"></ion-icon>
  </div>


<!--
  <ng-template #nearbyUser>
-->
<!--    <div class="nearby-user-icon-wrapper ion-text-center">
      <h4 class="nearbyuser-icon-header">Andere Person</h4>
      <ion-icon name="person" class="user-icon"></ion-icon>
    </div>-->
<!--
  </ng-template>
-->
</ion-card>
