<ion-header translucent="true">
  <ion-toolbar>
    <ion-title style="color: var(--ion-color-primary)">{{ 'menu.title' | transloco }}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="popover">
        <ion-icon name="ellipsis-vertical-circle-outline" mode="icon-only"></ion-icon>
      </ion-button>
      <ion-popover #popover trigger="popover" size="auto" side="bottom" alignment="start">
        <ng-template>
          <ion-list>
            <ion-item (click)="signOut()" lines="none">
              <ion-icon name="log-out-outline" slot="start"></ion-icon>
              <ion-label>{{ 'menu.sign-out' | transloco }}</ion-label>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="primary" size="large">{{ 'menu.title' | transloco }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-padding-horizontal" *ngIf="user">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ng-template #loading>
          <div style="display: flex; align-items: center; justify-content: center; gap: 14px">
            <ion-spinner name="crescent" style="vertical-align: center"></ion-spinner>
            <p>{{ 'menu.loading' | transloco }}</p>
          </div>
        </ng-template>
        <div>
          <ion-card style="background-color: var(--ion-color-bright)"
                    class="ion-no-margin">
            <img alt="User profile picture" src="{{user.profile_picture}}"
                 style="object-fit: cover;width: 100%;max-height: 250px;"/>
            <ion-card-content>
              <div style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row; gap: 20px">
                  <div>
                    <ion-text color="primary">
                      <h1><strong>{{user.username}}</strong></h1>
                    </ion-text>
                    <ion-text color="dark">
                      <div class="icon-text">
                        <ion-icon class="text-icon" name="mail-outline"></ion-icon>
                        <span
                          style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100%">{{user.email}}</span>
                      </div>
                      <div style="display: flex; align-items: center">
                        <ion-icon class="text-icon" name="person-circle-outline"></ion-icon>
                        <p class="icon-text">{{user.name}}</p>
                      </div>
                    </ion-text>
                  </div>
                </div>
                <ion-item style="--inner-padding-end: 0" *ngIf="user.description" class="ion-margin-top ion-no-margin ion-no-padding" lines="none">
                  <ion-textarea auto-grow="true" readonly="true"
                                [value]="user.description" class="ion-padding">
                  </ion-textarea>
                </ion-item>
              </div>
            </ion-card-content>
          </ion-card>
          <ion-button (click)="openEditProfile()" class="ion-no-margin ion-margin-top" expand="block" color="bright" fill="outline">
            <ion-icon color="dark" class="text-icon" name="create-outline"></ion-icon>
            <p class="icon-text" style="color: var(--ion-color-dark)">{{ 'menu.edit-profile' | transloco }}</p>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <h1 style="color: var(--ion-color-primary); width: 100%">{{ 'menu.settings' | transloco }}</h1>
      <ion-card style="background-color: var(--ion-color-bright); width: 100%"
                class="ion-no-margin">
        <ion-card-content class="ion-no-padding">
          <!--<ion-item style="background-color: transparent">
            <ion-label>Benachrichtigungen</ion-label>
            <ion-toggle slot="end"></ion-toggle>
          </ion-item>
          <ion-item style="background-color: transparent">
            <ion-label>Live Standort</ion-label>
            <ion-toggle slot="end"></ion-toggle>
          </ion-item>-->
          <ion-item>
            <ion-label>{{ 'menu.force-dark-mode' | transloco }}</ion-label>
            <ion-toggle slot="end" (ionChange)="changeDarkMode($event)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-select interface="action-sheet" placeholder="Select language" [value]="selectedLanguage" (ionChange)="updateLanguage($event)" [cancelText]="'general.cancel' | transloco">
              <ion-select-option value="de">Deutsch</ion-select-option>
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="it">Italian</ion-select-option>
              <ion-select-option value="fr">French</ion-select-option>
              <ion-select-option value="da">Danish</ion-select-option>
              <ion-select-option value="pl">Polish</ion-select-option>
              <ion-select-option value="nl">Dutch</ion-select-option>
              <ion-select-option value="ja">Japanese</ion-select-option>
              <ion-select-option value="ko">Korean</ion-select-option>
              <ion-select-option value="es">Spanish</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-label>{{ 'menu.socket-connection' | transloco }}</ion-label>
            <ion-badge slot="end" color="{{connectionStatus ? 'success' : 'danger'}}"
                       style="margin-left: 10px; margin-top: 2px;">{{(connectionStatus ? 'menu.connected' : 'menu.disconnected') | transloco}}</ion-badge>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <h1 style="color: var(--ion-color-primary); width: 100%">{{ 'menu.user-information' | transloco }}</h1>
      <ion-card style="background-color: var(--ion-color-bright); width: 100%"
                class="ion-no-margin">
        <ion-card-content class="ion-no-padding">
          <ion-item style="background-color: transparent">
            <ion-label style="font-weight: bold"><small>#{{user.id}}</small></ion-label>
          </ion-item>
          <ion-item style="background-color: transparent">
            <ion-label>{{ 'additional-login-data.username' | transloco }}</ion-label>
            <ion-label slot="end" style="font-weight: bold">{{user.username}}</ion-label>
          </ion-item>
          <ion-item style="background-color: transparent">
            <ion-label>{{ 'login-page.placeholder-email' | transloco }}</ion-label>
            <ion-label slot="end" style="font-weight: bold">{{user.email}}</ion-label>
          </ion-item>
          <!--<ion-item style="background-color: transparent" lines="none">
            <ion-label>Passwort</ion-label>
            <ion-button slot="end" fill="clear" (click)="openChangePassword()">Ändern</ion-button>
          </ion-item>-->
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="width: 100%; height: 130px"></div>
</ion-content>
