<ion-header translucent="true">
  <ion-toolbar>
    <ion-title style="color: var(--ion-color-primary)">Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button id="popover" (click)="openPopover()">
        <ion-icon name="ellipsis-vertical-circle-outline" mode="icon-only"></ion-icon>
      </ion-button>
      <ion-popover trigger="popover" size="auto" side="bottom" alignment="start">
        <ng-template>
          <ion-list>
            <ion-item (click)="openChangePassword()">
              <ion-icon name="key-outline" slot="start"></ion-icon>
              <ion-label>Passwort ändern</ion-label>
            </ion-item>
            <ion-item (click)="signOut()">
              <ion-icon name="log-out-outline" slot="start"></ion-icon>
              <ion-label>Abmelden</ion-label>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color="primary" size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-padding-horizontal">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ng-template #loading>
          <div style="display: flex; align-items: center; justify-content: center; gap: 14px">
            <ion-spinner name="crescent" style="vertical-align: center"></ion-spinner>
            <p>Profil wird geladen...</p>
          </div>
        </ng-template>
        <ion-card style="background-color: var(--ion-color-bright)" *ngIf="user$ | async; let user; else loading"
                  class="ion-no-margin">
          <img alt="User profile picture" src="{{profilePicture(user.$id)}}"
               style="object-fit: cover;width: 100%;max-height: 250px;"/>
          <ion-card-content>
            <div style="display: flex; flex-direction: column">
              <div style="display: flex; flex-direction: row; gap: 20px">
                <div>
                  <ion-text color="primary">
                    <h1><strong>{{user.username}}</strong></h1>
                  </ion-text>
                  <ion-text color="dark">
                    <div class="icon-text">
                      <ion-icon class="text-icon" name="mail-outline"></ion-icon>
                      <span
                        style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100%">{{user.email}}</span>
                    </div>
                    <div style="display: flex; align-items: center">
                      <ion-icon class="text-icon" name="person-circle-outline"></ion-icon>
                      <p class="icon-text">{{user.name}}</p>
                    </div>
                  </ion-text>
                </div>
              </div>
              <ion-item *ngIf="user.description" class="ion-margin-top ion-no-padding" lines="none">
                <ion-textarea auto-grow="true" readonly="true"
                              [value]="user.description" class="ion-padding">
                </ion-textarea>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-button (click)="openEditProfile()" class="ion-no-margin ion-margin-top" expand="block" color="secondary">
          <ion-icon color="light" class="text-icon" name="create-outline"></ion-icon>
          <p class="icon-text" style="color: var(--ion-color-light)">Profil bearbeiten</p>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 style="color: var(--ion-color-primary)">Optionen</h1>
        <ion-card style="background-color: var(--ion-color-bright)" *ngIf="user$ | async; let user; else loading"
                  class="ion-no-margin">
          <ion-card-content class="ion-no-padding">
            <ion-item style="background-color: transparent">
              <ion-label>Benachrichtigungen</ion-label>
              <ion-toggle slot="end" [checked]="user.notifications"></ion-toggle>
            </ion-item>
            <ion-item style="background-color: transparent">
              <ion-label>Live Standort</ion-label>
              <ion-toggle slot="end" [checked]="user.notificationsForNewGroups"></ion-toggle>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Dark Mode</ion-label>
              <ion-toggle slot="end" [checked]="user.darkMode"></ion-toggle>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
