ion-item {
  --background: transparent;
}

ion-content {
  --offset-top: 0px;
  --offset-bottom: 0px;
  --padding-bottom: var(--content-ad-padding-bottom, 0px);
}

ion-textarea {
  --background: #373737;
  --color: #ffffff;
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
  --placeholder-color: #ffffff;
  --placeholder-opacity: 1;
  background-color: rgba(229,229,229,0.62);
  border-radius: 10px;
}
