/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import 'material-symbols';

html {
  --ion-background-color: var(--ion-color-vbright);
}

//

.icon-text {
  display: inline-block;
  vertical-align: middle;
}

.text-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
}

.phone-number-input {
  border: none;
  height: 35px;
  background: transparent;
}

.phone-number-input:focus {
  outline: none;
}

.phone-number-input::placeholder {
  color: var(--ion-color-secondary);
}

.intl-tel-input {
  border: none;
}

.intl-tel-input .country-list {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: none;
  border-color: #c7cace;
  font-size: 14px;
  margin-left: 0;
  margin-top: -1px;
  width: 265px;
}

.dropdown-menu {
  border: none !important;
}

.item-bottom {
  background-color: var(--ion-color-vbright);
}

.psm__progress-bar-item {
  border-color: transparent !important;
  background-color: transparent !important;
}

.psm__progress-bar {
  background-color: transparent !important;
  height: 10px !important;
}

.psm__progress-bar-items {
  background-color: transparent !important;
  border-radius: 15px !important;
}

.psm__progress-bar-overlay {
  height: 10px !important;
  border-radius: 15px !important;
}

.material-symbols-rounded {
  font-weight: 500;
}

.fullscreen {
  --width:100% !important;
  --height:100% !important;
}
