<ion-card color="light" class="ion-no-margin">
  <ion-card-content style="display: flex; flex-direction: row; gap: 15px; flex-grow: 1">
    <div>
      <ion-avatar style="height: 64px; width: 64px">
        <img style="aspect-ratio: 1/1" src="{{profilePicture()}}">
      </ion-avatar>
    </div>
    <div style="width: 100%">
      <ion-label color="primary"><strong>{{user.name}}</strong></ion-label>
      <p>Gesehen um: <br> <samp>{{lastSeen}}</samp></p>
    </div>
    <div style="display: flex; align-items: center">
      <ion-chip *ngIf="!isRequested" (click)="requestUserContact()" color="secondary">
        Anfragen
      </ion-chip>

      <ion-chip *ngIf="isRequested" color="success">
        Angefragt
      </ion-chip>
    </div>
  </ion-card-content>
</ion-card>
